@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Rokkitt", serif;
}

.red-filter {
  filter: sepia(1) saturate(2) hue-rotate(280deg)
}

html {
  scroll-behavior: smooth;
}